body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Hide the login option by default */
.login-option {
  display: none;
}

/* Show the login option when the navbar-toggler is hovered */
.navbar-toggler:hover + .container-fluid .login-option,
.container-fluid:hover .login-option {
  display: block;
}
